<p-toast></p-toast>

<div class="wrapper">
	<!-- HEADER -->
	<app-sidebar></app-sidebar>
	<!-- HEADER -->

	<div class="main-panel">
		<!-- HEADER -->
		<app-header></app-header>
		<!-- HEADER -->

		<!-- CONTENT -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-{{esNuevoConcepto ? '12' : '8'}}">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">{{msg.lbl_conceptos}}</h4>
								<p class="card-category">{{esNuevoConcepto ? msg.lbl_conceptos_crea_subtitles :
									msg.lbl_conceptos_actualiza_subtitles}}</p>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_codigo}}</label>
											<input type="text" class="form-control" [(ngModel)]="concepto.codigo">
										</div>
									</div>
									<div class="col-md-8">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_concepto}}</label>
											<input type="text" class="form-control" [(ngModel)]="concepto.descripcion">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label
												class="bmd-label-floating {{esNuevoConcepto ? 'displayNone' : ''}}">{{msg.lbl_mtto_tipo_concepto}}</label>
											<select id="selectTipoConcepto" nice-select
												[attr.data-value]="concepto.tipoConcepto"
												[(ngModel)]="concepto.tipoConcepto">
												<option *ngFor="let tipoConcepto of enumTipoConcepto"
													[ngValue]="tipoConcepto">
													{{tipoConcepto.label}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label
												class="bmd-label-floating {{esNuevoConcepto ? 'displayNone' : ''}}">{{msg.lbl_mtto_unidad}}</label>
											<select id="selectUnidad" nice-select [attr.data-value]="concepto.unidad"
												[(ngModel)]="concepto.unidad">
												<option *ngFor="let unidad of enumUnidad" [ngValue]="unidad">
													{{unidad.label}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_valor_unitario}}</label>
											<input [disabled]="!esNuevoConcepto" type="text" class="form-control"
												(keydown)="util.soloNumeros($event)"
												[(ngModel)]="concepto.valorUnitario">
										</div>
									</div>
								</div>
								<div>
									<button type="submit"
										(click)="esNuevoConcepto ? crearConcepto() : modificarConcepto()"
										class="btn btn-primary pull-right">{{esNuevoConcepto ?
										msg.lbl_btn_crear : msg.lbl_btn_actualizar}}</button>
									<button type="submit" (click)="volverConsulta()"
										class="btn btn-secondary pull-right">{{msg.lbl_btn_atras}}</button>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="{{esNuevoConcepto ? 'displayNone' : 'col-md-4'}}">
						<div class="card card-profile">
							<div class="card-avatar">
								<a>
									<img class="img" alt="img" src="../assets/images/logo.png" />
								</a>
							</div>
							<div class="card-body">
								<h2><span class="badge badge-pill badge-info"># {{concepto.idConcepto}}</span></h2>
								<h4 class="card-title">{{concepto.tipoConcepto.label}}</h4>
								<p class="card-description">{{concepto.descripcion}}
								</p>
								<button type="submit" class="btn btn-danger"
									(click)="eliminarConcepto()">{{msg.lbl_btn_eliminar}}</button>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CONTENT -->

		<!-- FOOTER -->
		<app-footer></app-footer>
		<!-- FOOTER -->
	</div>
</div>