<p-toast></p-toast>

<div class="wrapper">
	<!-- HEADER -->
	<app-sidebar></app-sidebar>
	<!-- HEADER -->

	<div class="main-panel">
		<!-- HEADER -->
		<app-header></app-header>
		<!-- HEADER -->

		<!-- CONTENT -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-profile">
							<div class="card-avatar">
								<a>
									<img class="img" src="../assets/images/logo.png" />
								</a>
							</div>
							<div class="card-body">
								<h2><span class="badge badge-pill badge-info"># {{contacto.idContacto}}</span></h2>
								<h6 class="card-category text-gray">{{contacto.nombreEmpresa}} /
									{{contacto.cargoContacto}}</h6>
								<h4 class="card-title">{{contacto.nombreContacto}}</h4>
								<p class="card-description">{{contacto.descripcionEmpresa}}
								</p>
								<button type="submit" class="btn btn-danger"
									(click)="eliminarContacto()">{{msg.lbl_btn_eliminar}}</button>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">{{msg.lbl_contactos}}</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_nombre_empresa}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.nombreEmpresa">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_ciudad}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.ciudadContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_telefono_empresa}}</label>
											<input disabled type="text" class="form-control"
												(keydown)="util.soloNumeros($event)"
												[(ngModel)]="contacto.telefonoEmpresa">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_nombre_contacto}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.nombreContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_telefono_contacto}}</label>
											<input disabled type="text" class="form-control"
												(keydown)="util.soloNumeros($event)"
												[(ngModel)]="contacto.telefonoContacto">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_correo_contacto}}</label>
											<input disabled type="email" class="form-control"
												[(ngModel)]="contacto.correoContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_cargo_contacto}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.cargoContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_proceso}}</label>
											<select id="selectProceso" disabled nice-select
												[attr.data-value]="contacto.procesoContacto"
												[(ngModel)]="contacto.procesoContacto">
												<option *ngFor="let proceso of enumProceso" [ngValue]="proceso">
													{{proceso.label}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<div class="form-group">
												<label
													class="bmd-label-floating">{{msg.lbl_mtto_descripcion_empresa}}</label>
												<textarea disabled class="form-control" rows="2"
													[(ngModel)]="contacto.descripcionEmpresa"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">{{msg.lbl_seguimiento}}</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<p-timeline [value]="events1" align="alternate"
											styleClass="customized-timeline">
											<ng-template pTemplate="marker" let-event>
												<span class="custom-marker p-shadow-2"
													[style.backgroundColor]="event.color">
													<i [ngClass]="event.icon"></i>
												</span>
											</ng-template>
											<ng-template pTemplate="content" let-event>
												<p-card [header]="event.status" [subheader]="event.date">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
														Inventore
														sed consequuntur error repudiandae numquam deserunt
														quisquam repellat libero asperiores earum nam nobis, culpa
														ratione
														quam perferendis esse, cupiditate neque quas!</p>
													<button *ngIf="event.agregarNuevo" pButton
														label="{{msg.lbl_btn_crear}}" class="p-button-text"></button>
												</p-card>
											</ng-template>
										</p-timeline>
									</div>
								</div>
								<div>
									<button type="submit" (click)="volverConsulta()"
										class="btn btn-secondary pull-right">{{msg.lbl_btn_atras}}</button>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CONTENT -->

		<!-- FOOTER -->
		<app-footer></app-footer>
		<!-- FOOTER -->
	</div>
</div>