<p-toast></p-toast>

<div class="wrapper">
	<!-- HEADER -->
	<app-sidebar></app-sidebar>
	<!-- HEADER -->

	<div class="main-panel">
		<!-- HEADER -->
		<app-header></app-header>
		<!-- HEADER -->

		<!-- CONTENT -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-profile">
							<div class="card-avatar">
								<a>
									<img class="img" src="../assets/images/logo.png" />
								</a>
							</div>
							<div class="card-body">
								<h2><span class="badge badge-pill badge-info"># {{contacto.idContacto}}</span></h2>
								<h6 class="card-category text-gray">{{contacto.nombreEmpresa}} /
									{{contacto.cargoContacto}}</h6>
								<h4 class="card-title">{{contacto.nombreContacto}}</h4>
								<p class="card-description">{{contacto.descripcionEmpresa}}
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">{{msg.lbl_contactos}}</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_nombre_empresa}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.nombreEmpresa">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_ciudad}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.ciudadContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_telefono_empresa}}</label>
											<input disabled type="text" class="form-control"
												(keydown)="util.soloNumeros($event)"
												[(ngModel)]="contacto.telefonoEmpresa">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_nombre_contacto}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.nombreContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_telefono_contacto}}</label>
											<input disabled type="text" class="form-control"
												(keydown)="util.soloNumeros($event)"
												[(ngModel)]="contacto.telefonoContacto">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_correo_contacto}}</label>
											<input disabled type="email" class="form-control"
												[(ngModel)]="contacto.correoContacto">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="bmd-label-floating">{{msg.lbl_mtto_cargo_contacto}}</label>
											<input disabled type="text" class="form-control"
												[(ngModel)]="contacto.cargoContacto">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title ">{{msg.lbl_seguimiento}}</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<p-timeline [value]="eventsSeguimiento" align="right"
											styleClass="customized-timeline">
											<ng-template pTemplate="marker" let-event>
												<span class="custom-marker p-shadow-2"
													[style.backgroundColor]="event.color">
													<i [ngClass]="event.icon"></i>
												</span>
											</ng-template>
											<ng-template pTemplate="content" let-event>
												<p-card [header]="event.status" [subheader]="event.date">
													<div class="row">
														<div class="col-md-12">
															<p>{{event.description}}</p>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12"
															style="display: flex;overflow: auto;margin: 10px;">
															<button pButton pRipple (click)="irModificar(event.data)"
																pTooltip="{{msg.lbl_btn_actualizar}}"
																tooltipPosition="bottom" type="button"
																icon="pi pi-undo"
																class="p-button-rounded p-button-info"></button>
															<div class="clearfix"></div>

															<button pButton pRipple
																(click)="actualizarNivel(2, event.data)"
																pTooltip="{{msg.lbl_enum_nivel_seguimiento_recordatorio}}"
																tooltipPosition="bottom" type="button"
																icon="pi pi-exclamation-circle"
																class="p-button-rounded p-button-warning"></button>
															<div class="clearfix"></div>

															<button pButton pRipple
																(click)="actualizarNivel(3, event.data)"
																pTooltip="{{msg.lbl_enum_nivel_seguimiento_realizado}}"
																tooltipPosition="bottom" type="button"
																icon="pi pi-check-circle"
																class="p-button-rounded p-button-success"></button>
															<div class="clearfix"></div>

															<button pButton pRipple
																(click)="actualizarNivel(4, event.data)"
																pTooltip="{{msg.lbl_enum_nivel_seguimiento_pendiente}}"
																tooltipPosition="bottom" type="button"
																icon="pi pi-times-circle"
																class="p-button-rounded p-button-danger"></button>
															<div class="clearfix"></div>
														</div>
													</div>
												</p-card>
											</ng-template>
										</p-timeline>
									</div>
								</div>
								<div style="display: flex;">
									<button type="submit" (click)="irCrear()"
										class="btn btn-info pull-right">{{msg.lbl_btn_crear}}</button>
									<div class="clearfix"></div>
									<button type="submit" routerLink="/q-seguimiento"
										class="btn btn-secondary pull-right">{{msg.lbl_btn_atras}}</button>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CONTENT -->

		<!-- FOOTER -->
		<app-footer></app-footer>
		<!-- FOOTER -->


		<!-- Dialog crear seguimiento -->
		<p-dialog id="crearSeguimiento" *ngIf="seguimientoCreado" [(visible)]="mostrarPanelCrear" [modal]="true"
			[style]="{width: '30vw'}" [transitionOptions]="'150ms'" [showHeader]="false" (onShow)="aplicarMDBLogin()">

			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title ">{{msg.lbl_seguimiento}}</h4>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-md-10">
							<div class="form-group">
								<label class="bmd-label-floating">{{msg.lbl_mtto_descripcion}}</label>
								<input type="text" class="form-control" [(ngModel)]="seguimientoCreado.descripcion">
							</div>
						</div>
					</div>
					<div>
						<button type="submit" (click)="crearSeguimiento()"
							class="btn btn-primary pull-right">{{msg.lbl_btn_crear}}</button>
						<button type="submit" (click)="cancelarSeguimiento()"
							class="btn btn-secondary pull-right">{{msg.lbl_btn_atras}}</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</p-dialog>
		<!-- End Dialog crear seguimiento -->

		<!-- Dialog modificar seguimiento -->
		<p-dialog id="modificarSeguimiento" *ngIf="seguimientoModificado" [(visible)]="mostrarPanelModificar"
			[modal]="true" [style]="{width: '30vw'}" [transitionOptions]="'150ms'" [showHeader]="false"
			(onShow)="aplicarMDBLogin()">

			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title ">{{msg.lbl_seguimiento}}</h4>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-md-10">
							<div class="form-group">
								<label class="bmd-label-floating">{{msg.lbl_mtto_descripcion}}</label>
								<input type="text" class="form-control" [(ngModel)]="seguimientoModificado.descripcion">
							</div>
						</div>
					</div>
					<div>
						<button type="submit" (click)="modificarSeguimiento()"
							class="btn btn-primary pull-right">{{msg.lbl_btn_actualizar}}</button>
						<button type="submit" (click)="cancelarSeguimiento()"
							class="btn btn-secondary pull-right">{{msg.lbl_btn_atras}}</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</p-dialog>
		<!-- End Dialog modificar seguimiento -->
	</div>
</div>